# 튜플 자료형

## 튜플은 어떻게 만들까?

In [2]:
# 튜플은 () 로 둘러 싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

# 요소를 하나만 가질때도 뒤에 콤마를 붙여야하고 괄호를 생략해도 무방하다.

- 튜플과 리스트의 가장 큰 차이점은 변경시킬 수 있는가 없는가 이다.  
- 리스트의 항목값은 변경이 가능하고 튜플의 항목값은 변경이 불가능하다.  
- 값이 변할까봐 걱정하고 싶지 않다면 튜플을 사용해야 한다.  
- 수시로 그 값을 변경시켜야 하는 경우라면 리스트를 사용해야 한다.

## 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?

In [4]:
t1=(1,2,'a','b')
del t1[0]

# 튜플은 지우는 행위가 지원되지 않는다.

TypeError: 'tuple' object doesn't support item deletion

In [6]:
t1=(1,2,'a','b')
t1[0]='c'

# 요소값을 변경하는것도 지원되지 않는다.

TypeError: 'tuple' object does not support item assignment

## 튜플의 인덱싱과 슬라이싱, 더하기(+)와 곱하기(*)

In [7]:
# 인덱싱하기

t1=(1,2,'a','b')
t1[0]

1

In [8]:
t1[3]

'b'

In [9]:
# 슬라이싱하기

t1=(1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [11]:
# 튜플 더하기

t1=(1,2,'a','b')
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [13]:
# 튜플 곱하기(반복)

t2=(3,4)
t2*3

(3, 4, 3, 4, 3, 4)

In [14]:
# 튜플 길이 구하기

t1=(1,2,'a','b')
len(t1)

4

## 연습문제

In [20]:
t1=1,2,3
t2=4,
t1+t2

(1, 2, 3, 4)

# 02-5 딕셔너리 자료형

### 딕셔너리란?
  
대응관계를 나타내는 자료형, key 를 통해 value를 얻는다.

In [22]:
dic={'name':'pey','phone':'01199993323','birth':'1118'}

딕셔너리 dic의 정보  
  
| key | value |
| :--- |:---
| name | pey |
| phone | 01199993323 |
| birth | 1118 |

In [23]:
a={1:'hi'}

In [24]:
a={'a':[1,2,3]}
# value에 리스트도 넣을 수 있다

## 딕셔너리 쌍 추가, 삭제하기

In [25]:
# 딕셔너리 쌍 추가하기

a={1:'a'}
a[2]='b'
a

{1: 'a', 2: 'b'}

In [26]:
a['name']='pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [27]:
a[3]=[1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [28]:
# 딕셔너리 요소 삭제하기

del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

## 딕셔너리를 사용하는 방법

In [30]:
# 딕셔너리에서 key를 사용해 value 얻기

grade={'pey':10, 'julliet':99}
grade['pey']

10

In [32]:
grade['julliet']

99

In [33]:
a={1:'a',2:'b'}
a[1]

'a'

In [34]:
a[2]

'b'

In [35]:
# 뒤집어 놓은 딕셔너리

a={'a':1,'b':2}
a['a']

1

In [36]:
a['b']

2

In [37]:
dic={'name':'pey','phone':'0119993323','birth':'1118'}
dic['name']

'pey'

In [38]:
dic['phone']

'0119993323'

In [39]:
dic['birth']

'1118'

In [41]:
# 딕셔너리 만들 때 주의할 사항
# key는 고유한 값이므로 겹칠때는 앞에 쌍이 지워진다

a={1:'a',1:'b'}
a

{1: 'b'}

In [42]:
# 리스트는 key로 쓸 수 없다 하지만 튜플은 가능하다

a={[1,2]:'hi'}

TypeError: unhashable type: 'list'

## 딕셔너리 관련 함수들

In [43]:
# key 리스트 만들기(keys)

a={'name':'pey','phone':'0119993323','birth':1118}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [44]:
for k in a.keys():
    print(k)

name
phone
birth

In [45]:
# 리스트로 변환하려면

list(a.keys())

['name', 'phone', 'birth']

In [46]:
# value 리스트 만들기

a.values()

dict_values(['pey', '0119993323', 1118])

In [47]:
# key, value 쌍 얻기

a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', 1118)])

In [49]:
#key:value 쌍 모두 지우기

a.clear()
a

{}

In [50]:
# key로 value 얻기

a={'name':'pey','phone':'011999323','birth':'1118'}
a.get('name')

'pey'

In [51]:
a.get('phone')

'011999323'

In [52]:
# a['nokey']는 key 오류, a.get("nokey")는 None 을 리턴한다

a={'name':'pey','phone':'0119993323','birth':'1118'}
print(a.get('nokey'))

None