### format 함수를 이용한 포매팅

In [4]:
# 숫자 바로 대입하기
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [5]:
# 문자열 바로 대입하기
"I eat {0} apples" .format("five")

'I eat five apples'

In [6]:
# 숫자 값을 가진 변수로 대입하기
number=3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [7]:
# 2개 이상의 값 넣기
number=3
day="three"
"I ate {0} apples. so I was sick for {1} days." .format(number,day)

'I ate 3 apples. so I was sick for three days.'

In [8]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days." .format(number=10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [9]:
#인덱스와 이름을 혼용해서 넣기
" I ate {0} apples. so I was sick for 3 days."

' I ate {0} apples. so I was sick for 3 days.'

In [11]:
# 왼쪽정렬
# 왼쪽으로 정렬하고 총 자릿수를 10으로 맞춘다
"{0:<10}".format("hi")

'hi        '

In [12]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [13]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [14]:
# 공백채우기
"{0:=^10}".format("hi")

'====hi===='

In [15]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [16]:
# 소수점 표현하기
y=3.42134234
"{0:0.4f}" .format(y)

'3.4213'

In [18]:
# 자릿수 10으로 맞추기
"{0:10.4f}".format(y)

'    3.4213'

In [20]:
#{ 또는 }  문자 표현하기
"{{ and }}".format()
# 중괄호로 나타내고 싶으면 {{}}

'{ and }'

### f 문자열 포매팅

In [22]:
# 문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능 사용 할 수 있음
name='홍길동'
age=30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [23]:
age=30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [24]:
d={'name':'홍길동','age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [30]:
f'{"hi":<10}' 
# 왼쪽정렬

'hi        '

In [31]:
f'{"hi":>10}'
# 오른쪽 정렬

'        hi'

In [32]:
f'{"hi":^10}'
# 가운데 정렬

'    hi    '

In [34]:
#가운데 정렬하고 '=' 문자로 공백 채우기
f'{"hi":=^10}'

'====hi===='

In [35]:
# 왼쪽 정렬하고 '!' 문자로 공백 채우기
f'{"hi":!<10}'

'hi!!!!!!!!'

In [36]:
# 소수점 4자리까지만 표현
y=3.42134234
f'{y:0.4f}'

'3.4213'

In [37]:
# 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
f'{y:10.4f}'

'    3.4213'

In [38]:
f'{{and}}'

'{and}'

### 문자열 관련 함수들

In [41]:
# 문자열 줄 문자 b의 개수를 반환한다
a="hobby"
a.count('b')

2

In [42]:
# 위치 알려주기
a="Python is the best choice"
a.find('b')

14

In [44]:
# 만약 찾는 문자열이 존재하지 않는다면 -1을 반환한다
a.find('k')

-1

In [47]:
# t가 맨 처음으로 나온 위치를 반환한다
a="Life is too short"
a.index('t')

8

In [48]:
# 문자열이 존재 하지 않는다면 오류를 발생시킨다
a.index('k')

ValueError: substring not found

In [50]:

",".join('abcd')

'a,b,c,d'

In [51]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [52]:
# 소문자를 대문자로 바꾸기

a="hi"
a.upper()

'HI'

In [53]:
# 대문자를 소문자로 바꾸기
a="HI"
a.lower()

'hi'

In [55]:
# 왼쪽 공백 지우기

a=" hi"
a.lstrip()

'hi'

In [57]:
# 오른쪽 공백 지우기
a=" hi "
a.rstrip()

' hi'

In [58]:
# 양쪽 공백 지우기
a=" hi "
a.strip()

'hi'

In [59]:
# 문자열 바꾸기

a="Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [60]:
# 문자열 나누기
a="Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [63]:
# 괄호의 값으로 구분해서 문자열 나누기
a="a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

### 연습문제

In [65]:
a='881120-1068234'
a.split('-')

['881120', '1068234']

In [66]:
pin="881120-1068234"
a[7]

'1'

In [67]:
a="a:b:c:d"
a.replace(':','#')

'a#b#c#d'

In [69]:
a.split(':')
'#'.join(a.split(':'))

'a#b#c#d'