# 03-3 for문

## for문의 기본구조

In [1]:
# 전형적인 for문

test_list=['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [2]:
a=[(1,2),(3,4),(5,6)]
for (first,last) in a:
    print(first+last)

3
7
11

In [5]:
# for문의 응용
marks=[90,25,67,45,80]
number = 0
for mark in marks:
    number= number +1
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [6]:
# for문과 continue

marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [7]:
# for문과 range함수
a=range(10)
a

range(0, 10)

In [8]:
a=range(1,11)
a

range(1, 11)

In [9]:
# range 함수의 예시 살펴보기
sum=0
for i in range(1,11):
    sum=sum+i
print(sum)

55

In [10]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
            continue 
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [14]:
# for과 range를 이용한 구구단

for i in range(2,10): # ①번 for문 
    for j in range(1, 10): # ②번 for문
        print(i*j, end=" ")
    print('')
# end를 넣어준 이유는 해당 결과값을 출력할 때 다음줄로 넘기지 않고 그 줄에 계속 출력하려고

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### 리스트 안에 for문 포함하기

In [16]:
a=[1,2,3,4]
result=[]
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [17]:
a=[1,2,3,4]
result=[num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [18]:
a=[1,2,3,4]
result=[num*3 for num in a if num%2==0]
print(result)

[6, 12]

In [20]:
result = [x*y for x in range(2,10)
    for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 연습문제

In [23]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [51]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
num=0

for score in A:
    num +=score
average=num/len(A)
print(average)

79.0

In [53]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]

print(result)

[2, 6, 10]