# 02-3 리스트 자료형

In [1]:
odd=[1,3,5,7,9]
# 리스트명=[요소1,요소2,요소3,...]

In [3]:
a=[]
b=[1,2,3]
c=['Life','is','too','short']
d=[1,2,'Life','is']
e=[1,2,['Life','is']]

# 비어있는 리스트도 가능하고 숫자나 문자도 가능하다 즉 어떠한 자료형도 포함시킬 수 있다.

## 리스트의 인덱싱과 슬라이싱

In [4]:
# 리스트의 인덱싱

a=[1,2,3]
a

[1, 2, 3]

In [5]:
a[0]

1

In [6]:
a[0]+a[2]

4

In [7]:
a[-1]

3

In [8]:
a=[1,2,3,['a','b','c']]

In [9]:
a[0]

1

In [10]:
a[-1]

['a', 'b', 'c']

In [12]:
a[3]

# a[3]은 리스트 a의 네번째 요소를 나타낸다

['a', 'b', 'c']

In [13]:
a[-1][0]

'a'

In [14]:
a[-1][1]

'b'

In [15]:
a[-1][2]

'c'

## 삼중 리스트에서 인덱싱하기

In [16]:
a=[1,2,['a','b',['Life','is']]]

In [17]:
a[2][2][0]

'Life'

## 리스트의 슬라이싱

In [18]:
a=[1,2,3,4,5]
a[0:2]

[1, 2]

In [19]:
a="12345"
a[0:2]

'12'

In [20]:
a=[1,2,3,4,5]
b=a[:2]
c=a[2:]

In [21]:
b

[1, 2]

In [22]:
c

[3, 4, 5]

## 중첩된 리스트에서 슬라이싱하기

In [24]:
a=[1,2,3,['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [26]:
a[3][:2]

['a', 'b']

## 리스트 연산

In [27]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [28]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
a=[1,2,3]
len(a)

3

In [31]:
a=[1,2,3]
a[2]+"hi"

# 정수와 문자열은 더 할수 없기 때문에 발생한 오류

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
str(a[2])+"hi"
# 문자열로 바꾸는 내장함수

'3hi'

## 리스트의 수정과 삭제

In [36]:
a=[1,2,3]
a[2]=4
a

# 요소값 바꾸기

[1, 2, 4]

In [38]:
# del 함수 이용해 리스트 요소 삭제하기
# del 모든 문자형

a=[1,2,3]
del a[1]
a

[1, 3]

In [39]:
a=[1,2,3,4,5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수들

In [40]:
# 리스트에 요소 추가 append

a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [41]:
# 자료형도 추가할 수 있다.

a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [42]:
# 리스트 정렬 sort

a=[1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [43]:
a=['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [44]:
# 리스트 뒤집기 reverse

a=['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [45]:
# 위치반환 index

a=[1,2,3]
a.index(3)

2

In [46]:
a.index(1)

0

In [48]:
# 리스트에 요소 삽입
#insert(a,b) 는 a번째 위치에 b를 삽입하는 함수

a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [49]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [55]:
# 리스트 요소 제거 remove

a=[1,2,3,1,2,3]
a.remove(3)
a

# 3이라는 요소를 2개 가지고 있으면 첫 번째 3만 제거된다.

[1, 2, 1, 2, 3]

In [56]:
a.remove(3)
a

# 한번 더 하면 다시 삭제 된다

[1, 2, 1, 2]

In [59]:
# 리스트 요소 끄집어 내기 pop
# 맨 마지막 요소를 돌려 주고 그 값은 삭제하는 함수

a=[1,2,3]
a.pop()

3

In [60]:
a

[1, 2]

In [61]:
a=[1,2,3]
a.pop(1)

2

In [62]:
a

[1, 3]

In [64]:
# 리스트에 포함된 요소 x의 개수 세기
# 리스트 내에 x가 몇 개 있는지 조사

a=[1,2,3,1]
a.count(1)

2

In [65]:
# 리스트 확장

a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [67]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 6, 7]

## 연습문제

In [72]:
a=['Life','is','too','short']
" ".join(a)

'Life is too short'

In [76]:
b=[1,3,5,4,2]
b.sort()
b.reverse()
b

[5, 4, 3, 2, 1]