### 문자열 연산하기

In [2]:
# 문자열 더해서 연산하기
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [4]:
#a를 두번 반복하여라
a= "python"
a*2

'pythonpython'

In [5]:
# 문자열 곱하기 응용
# multisting.py

print("="*50)
print("My Program")
print("="* 50)

==================================================
My Program
==================================================

In [7]:
# 문자열 길이 구하기

a="Life is too short"
len(a)

17

In [10]:
#문자열 인덱싱과 슬라이싱
# 인덱싱이란 가리킨다는 의미이고, 슬라이싱은 잘라낸다는 의미이다.

a="Life is too short, You need Python"
a[3]
# 파이썬은 0부터 숫자 센다

'e'

### 문자열 인덱싱 활용하기

In [17]:
a="Life is too short, You need Python"
a[0]

'L'

In [12]:
a[12]

's'

In [14]:
# 뒤에서 부터 첫 번째 문자
a[-1]

'n'

In [15]:
a[-2]

'o'

In [16]:
a[-5]

'y'

### 문자열 슬라이싱이란?

In [18]:
a= "Life is too short, You need Python"
b= a[0]+a[1]+a[2]+a[3]
b

'Life'

In [19]:
a= "Life is too short, You need Python"
a[0:4]

'Life'

In [23]:
a[0:3]
# 인덱싱 기법과 슬라이싱 기법은 리스트나 튜플에서도 사용할 수 있다.

'Lif'

### 문자열을 슬라이싱 하는 방법

In [24]:
# 슬라이싱할 때 항상 시작 번호가 '0'일 필요는 없다

a[0:2]

'Li'

In [25]:
a[5:7]

'is'

In [26]:
# a[시작번호:끝번호]에서 끝 번호 부분을 생략하면 시작번호 부터 끝까지 뽑아낸다.

a[19:]

'You need Python'

In [27]:
a[:17]

'Life is too short'

In [28]:
# 문자열의 처음부터 끝까지 뽑아내기
a[:]

'Life is too short, You need Python'

In [30]:
# a[19]에서 a[-8]까지
a[19:-7]

'You need'

### 슬라이싱으로 문자열 나누기

In [31]:
a="20010331Rainy"
date=a[:8]
weather=a[8:]
date

'20010331'

In [32]:
weather

'Rainy'

In [33]:
year=a[:4]
day=a[4:8]
weather=a[8:]
year

'2001'

In [34]:
day

'0331'

In [35]:
weather

'Rainy'

### "Pithon" 이라는 문자열 "Python"으로 바꾸려면?

In [36]:
a="Pithon"
a[1]

'i'

In [38]:
a[1]='y'
# 문자열의 요소값은 바꿀 수 있는 값이 아니기 때문에 에러 발생

TypeError: 'str' object does not support item assignment

In [40]:
a="Pithon"
a[:1]

'P'

In [41]:
a[2:]

'thon'

In [42]:
a[:1]+'y'+a[2:]

'Python'

### 문자열 포매팅

In [46]:
# %d 숫자를 넣을때
"I eat %d apples." %3

'I eat 3 apples.'

In [47]:
# %s 문자를 넣을때
"I eat %s apples." % "five"

'I eat five apples.'

In [48]:
number=3
"I eat %d apples." % number

'I eat 3 apples.'

In [50]:
# % 다음 괄호 안에 콤마로 구분하여 각각의 변수를 넣어주면 된다
number=10
day="three"
"I ate %d apples. so I was sick for %s days." % (number,day)

'I ate 10 apples. so I was sick for three days.'

### 문자열 포맷 코드

| 코드 | 설명 |
| : --- | :---
| %s | 문자열 |
| %c | 문자 1개 |
| %d | 정수 |
| %f | 부동소수 |
| %o | 8진수 |
| %x | 16진수 |
| %% | Literal % (문자 % 자체)

In [51]:
"I have %s apples" %3

'I have 3 apples'

In [52]:
"rate is %s" % 3.234

'rate is 3.234'

In [54]:
"Error is %d%." %98
# %d 와 % 같이 쓸 때는 %%를 쓴다.

ValueError: incomplete format

In [55]:
"Error is %d%%." % 98

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용하기

In [57]:
# 정렬과 공백
# hi 를 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미

"%10s" % "hi"

'        hi'

In [59]:
#반대쪽인 왼쪽정렬
"%-10sjane." % 'hi'

'hi        jane.'

In [61]:
# 소수점 표현하기, 소수점 네 번째 자리까지만 나타내고 싶은 경우
"%0.4f" %3.42134234

'3.4213'

In [63]:
# 전체 길이가 10개인 문자열 공간에서 오른쪽 정렬
"%10.4f" % 3.42134234

'    3.4213'