# 1.
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [1]:
sum([x for x in range(1000) if x%3==0 or x%5==0])

233168

# 2.
이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌  
  
1.김씨와 이씨는 각각 몇 명 인가요?  
2."이재영"이란 이름이 몇 번 반복되나요?  
3.중복을 제거한 이름을 출력하세요.  
4.중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

In [15]:
A=["이유덕","이재영","권종표","이재영","박민호","강상희","이재영","김지완","최승혁"
   ,"이성연","박영서","박민호","전경헌","송정환","김재성","이유덕","전경헌"]

In [18]:
# 1&2
ck=0
cl=0
cjy=0
for name in A:
    if name[0]=="김":
        ck+=1
    if name[0]=="이":
        cl+=1
    if name=="이재영":
        cjy+=1
print(ck)
print(cl)
print(cjy)

2
6
3

In [51]:
# 3
print(set(A))

{'박민호', '박영서', '권종표', '이성연', '이유덕', '김지완', '이재영', '최승혁', '김재성', '송정환', '전경헌', '강상희'}

In [50]:
# 4
A.sort()
print(A)

['강상희', '권종표', '김재성', '김지완', '박민호', '박민호', '박영서', '송정환', '이성연', '이유덕', '이유덕', '이재영', '이재영', '이재영', '전경헌', '전경헌', '최승혁']

# 3.
n개의 정수를 가진 배열이 있다. 이 배열은 양의정수와 음의 정수를 모두 가지고 있다. 이제 당신은 이 배열을 좀 특별한 방법으로 정렬해야 한다. 

정렬이 되고 난 후, 음의 정수는 앞쪽에 양의정수는 뒷쪽에 있어야 한다. 또한 양의정수와 음의정수의 순서에는 변함이 없어야 한다.

In [46]:
list=[1,2,3,-5,-1,-3,4,-6,7,8,2,3]

def sort_list(list):
    s1=[]
    s2=[]
    for i in list:
        if i<0:
            s1.append(i)
        else:
            s2.append(i)
    return s1+s2
print(s1+s2)

[-5, -1, -3, -6, 1, 2, 3, 4, 7, 8, 2, 3]

# 4.
1~1000에서 각 숫자의 개수 구하기

예로 10 ~ 15 까지의 각 숫자의 개수를 구해보자 

10 = 1, 0
 11 = 1, 1
 12 = 1, 2
 13 = 1, 3
 14 = 1, 4
 15 = 1, 5 

그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개

In [66]:
count={x:0 for x in range(0,10)}
for n in range(1,1001):
    for x in str(n):
        count[int(x)]+=1
print(count)

{0: 192, 1: 301, 2: 300, 3: 300, 4: 300, 5: 300, 6: 300, 7: 300, 8: 300, 9: 300}